.home-container {
  padding: 20px 0 50px 0;
  /* width: 80%; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.home-container .content-container {
  position: relative !important;
  display: flex;
  align-items: flex-start;
  column-gap: 2rem;
}

.home-container .content-container .drawer-container {
  display: none;
}

.home-container .content-container .left-column {
  width: 25%;
  height: 100%;
  padding: 20px 20px;
  /* position: sticky;
  top: 120px; */
  background-color: white;
  box-shadow: 0px 4px 38px 0px rgba(0, 0, 0, 0.1);
  /* background-color: var(--primary) !important; */
  /* box-shadow: 17px 0px 15px -5px rgba(0,0,0,0.1); */
}

.home-container .content-container .right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  width: 100%;
  margin-right: auto;
}

.home-container .page-header {
  margin: 20px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home-container .page-header .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2rem;
}

.home-container .page-header .left .home-input {
  width: 350px;
  background-color: #ffffff !important;
  border: 1px solid #d9d9d9 !important;
}

.home-container .page-header .right .create-post-btn {
  height: 40px !important;
  font-size: 16px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid var(--primary) !important;
  background-color: var(--primary) !important;
  color: #fff !important;
  padding: 0 40px;
  transition: all 0.3s ease;
}

.home-container .page-header .right .create-post-btn:hover {
  background: #fff !important;
  color: var(--primary) !important;
}

.home-container .post-list-container {
  /* width: 80%; */
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.banner-container {
  display: flex;
  justify-content: center;
  height: 200px;
}

.banner-container .ant-skeleton {
  width: 100% !important;
}

.banner-container .ant-skeleton .ant-skeleton-image {
  width: 100% !important;
  height: 100% !important;
}

.home-container .post-list-container .view-more-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

/* .banner-container img {
  max-width: 800px;
  height: auto;
} */

@media (max-width: 1120px) {
  .home-container .page-header {
    flex-direction: column;
    row-gap: 1rem;
  }

  .home-container .page-header .left {
    width: 100%;
    justify-content: space-between;
  }

  .home-container .page-header .right {
    align-self: flex-end;
  }

  .banner-container img {
    min-width: 100%;
  }
}

@media (max-width: 850px) {
  .home-container .page-header .left {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .home-container .content-container {
    flex-direction: column;
    row-gap: 1rem;
  }

  .home-container .content-container .drawer-container {
    display: block;
  }

  .home-container .content-container .left-column {
    display: none !important;
  }

  .home-container .page-header .left .home-input {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .home-container .post-list-container {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .home-container .page-header .left {
    column-gap: 1rem !important;
  }

  .home-container .page-header .left .home-select {
    width: 45% !important;
  }

  .home-container .page-header .right .create-post-btn {
    height: 35px !important;
    font-size: 13px !important;
    padding: 0 40px;
  }
}

@media (max-width: 600px) {
  .home-container .page-header .right .create-post-btn {
    padding: 0 30px;
  }
}
