.fav-posts-container {
  padding: 30px 0 30px 0;
  width: 100%;
}

.fav-posts-container .page-header {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
}

.fav-posts-container .page-header .custom-input {
  width: 300px;
  background-color: #ffffff !important;
  border: 1px solid #d9d9d9 !important;
}

.fav-posts-container .post-list-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

@media (max-width: 768px) {
  .fav-posts-container .post-list-container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .fav-posts-container .page-header {
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-between;
  }
  .fav-posts-container .page-header .custom-input {
    width: 100% !important;
  }

  .fav-posts-container .page-header .custom-ant-select {
    width: 40%;
  }

  .fav-posts-container .post-list-container {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
